.process{
    background-image: url(../../assets/./images/about.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.process2{
    background: linear-gradient(50deg, #00304ea7,#00070dd5 );
    width: 100%;
    height: 100%;
}

.process .heading{
    color: aliceblue;
}

.process-card{
    height: 10rem;
    /* background-color: red; */
    /* background: linear-gradient(50deg, #00162862,#517a9b65 ); */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.105);
    transition: 0.5s ease all;
    border: 1px solid rgba(255, 255, 255, 0);
}

.process-card:hover{
    border: 1px solid rgb(186, 223, 255);
    /* transform: ; */
}



.process-card:hover{
}

.process-card-sec{
    padding: 0px 120px;
}