.hero {
    height: 100vh;
    /* width: 100%; */
    /* background: black; */
    overflow: hidden;
    position: relative;


    video {
        z-index: -1;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
    }

    .background-content-container {
        background-image: linear-gradient(90deg, rgba(0, 0, 1, 0.63), rgba(0, 62, 106, 0.42));
        position: relative;
        height: 100vh;
        z-index: 1;
        /* align-items: center;
        justify-content: center;
        display: flex; */

        .hero-content {
            padding-top: 200px;
        }

        .content {
            text-align: center;
            /* background-color: aqua; */
            /* width: 80%; */

            span{
                background: linear-gradient(90deg, rgb(1, 71, 131), rgb(13, 138, 248));
                color: aliceblue;
            }

            h1 {
                color: aliceblue;
                text-transform: uppercase;
                /* font-size: 4rem; */
                /* width: 80%; */
                width: 80%;
                margin: auto;
            }

            p {
                color: rgb(202, 202, 202);
                text-transform: uppercase;
                /* font-size: 1.1rem; */
                /* margin: 0px;
                padding: 0px; */
            }

            button {
                padding: 13px;
                background: linear-gradient(90deg, rgb(1, 71, 131), rgb(13, 138, 248));
                border: none;
                transition: 0.5s ease all;
                /* border-radius: 10px; */
                box-shadow: rgb(38, 45, 52) 0px 0px 20px 0px;
                position: relative;
                color: aliceblue;
                font-size: 1rem;
                letter-spacing: 1px;
                font-weight: 700;
                text-transform: uppercase;
            }

            button:hover {
                box-shadow: rgb(31, 147, 248) 0px 0px 20px 0px;

            }

            /* button::before{
                content: '';
                height: 0%;
                width: 0%;
                position: absolute;
                
            }

            button:hover::before{
                box-shadow: rgb(0, 136, 255) 0px 0px 20px 0px;
                background: linear-gradient(90deg,  rgb(1, 71, 131),rgb(0, 136, 255));
                height: 100%;
                width: 100%;
                display: block;
            } */


        }
    }
}