@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');



:root {
  --primary-color: rgb(0, 128, 255);
  --secondary-color: rgba(0, 128, 255, 0.452);
  --section-padding: 110px 0px;
  --section-padding-mobile: 80px 10px;
  --dark-background: linear-gradient(-50deg, rgb(0, 10, 18), rgb(0, 44, 72));
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}


body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-track {
  background: var(--dark-background);
}

.section-padding {
  /* padding: var(--section-padding-mobile); */
  padding: var(--section-padding);
}






@media only screen and (max-width: 768px) {
  .section-padding {
    padding: var(--section-padding-mobile);
  }
}


.heading {
  text-align: center;
}

.heading h1 {
  position: relative;
  /* width: auto; */
  cursor: pointer;
  transition: 0.5s ease all;
}

.heading h1::before {
  content: '';
  background-color: var(--primary-color);
  /* left: 0; */
  bottom: 0;
  width: 15px;
  height: 4px;  
  position: absolute;
  border-radius: 10px;
  transition: 0.5s ease all;
}

.heading h1:hover::before {
  width: 80px;
}