.footer{
    background: var(--dark-background);
    color: aliceblue;
    /* border-radius: 200px 0px 0px 0px; */
    /* height: 500px; */
    /* padding: 100px 0px ; */
}


.aah{
    /* background: yellow; */
}

.copy-right{
    border-top: 1px solid aliceblue;
    text-align: center;
    justify-content: center;
    padding: 5px 0px;
}

.f-gul-text{
    padding-right: 110px;
}