.Contact{
    background-color: rgba(199, 212, 223, 0.661);
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.578) 0px 0px 20px 0px; */
}
/* 
.Contact::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgb(0, 0, 0), rgb(0, 38, 61));
    z-index: -12;
} */

