nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.5s ease all;
}

.inactive-Nav {
    /* background-color: white; */
    /* backdrop-filter: blur(30px); */
}

.active-Nav {
    /* background: linear-gradient(90deg, rgba(0, 0, 1, 0.63), rgba(0, 62, 106, 0.464)); */
    background: linear-gradient(120deg, rgb(0, 0, 0), rgb(0, 52, 84));
    box-shadow: rgba(0, 0, 0, 0.578) 0px 0px 20px 0px;
    /* backdrop-filter: blur(30px); */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    color: aliceblue;
}

.nav-title {
    /* font-size: 1.5rem; */
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
    width: 150px;

    img {
        width: 100%;
    }
}

.nav-item {
    display: block;
    cursor: pointer;
}

.nav-item ul {
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.nav-item ul li {
    list-style: none;
}

.nav-item ul li a {
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
}

.Nav-Link a::before {
    content: '';
    background-color: var(--primary-color);
    width: 0%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.4s ease;
}

.Nav-Link a:hover::before {
    width: 100%;
}


.humburger {
    z-index: 1;
    display: none;
}

.SideNav {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.778); */
    left: 0;
    top: 0;
    /* backdrop-filter: blur(30px); */
    /* border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px; */
    /* transition: 0.8s ease all; */
    backdrop-filter: blur(12px);
    background: linear-gradient(-50deg, rgba(0, 10, 18, 0.538), rgb(0, 33, 54));

    .side-content {
        height: 100%;
        width: 100%;
        /* background: linear-gradient(90deg, rgba(0, 0, 1, 0.63), rgba(0, 62, 106, 0.464)); */
        

        border-radius: 90px, 90px, 90px, 90px;
    }

    .side-navbar-item {
        display: block;
        cursor: pointer;
        padding: 0 20px;
        height: 100%;
    }

    .side-navbar-item ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 0;
        margin: 0;
    }

    .side-navbar-item ul li {
        list-style: none;
    }

    .side-navbar-item ul li a {
        text-decoration: none;
        color: aliceblue;
        position: relative;
        padding: 5px 0;
        font-weight: 500;
    }

}



@media (max-width: 768px) {
    .nav-item {
        display: none;
    }

    .humburger {
        display: block;
    }

}

/* Mobile styles (width 480px tak) */
@media (max-width: 480px) {}